<div class="contact-container">
	<div class="container">
		<div class="contact-title center">
			<div class="title underline">
				Shout Out
			</div>
		</div>
		<div class="row">
			<div class="contact-left col-xs-12 col-md-6">
				<form action="https://formspree.io/nicocrisafulli@gmail.com" method="POST">
					<div class="contact-form">
					  <div class="form-group">
					  	 <label class="label" for="name"><span class="label-content">Your name</span></label>
					    <input type="text" name="name" class="form-control input" />
					  </div>
					  <div class="form-group">
					  	 <label class="label" for="_replyto"><span class="label-content">Your email</span></label>
					    <input type="email" name="_replyto" class="form-control input" />
					  </div>
					  <div class="form-group">
					  	 <label class="label" for="message"><span class="label-content">Your message</span></label>
					    <textarea name="message" class="form-control input" rows="3" required></textarea>
					  </div>
					  <input type="hidden" name="_next" value="/" />
					  <input type="text" name="_gotcha" style="display:none" />
				  	<button type="submit" class="btn btn-default hover-button">Submit</button>
					  <div class="notification-container"></div>
				  </div>
				</form>
			</div>
			<div class="contact-right col-xs-12 col-md-6">
				<div class="contact-text wow fadeInRight">
					<p>I'd love to hear from you. Any communication is welcome and I will reply within one day, more often right away.</p>
					<p>If you have an idea, a project in mind, or a suggestion feel free to drop a line!</p>
				</div>
			</div>
		</div>
	</div>
</div>
