<div class="contact-left col-xs-12 col-md-6">
	<form action="https://formspree.io/nicocrisafulli@gmail.com" method="POST">
		<div class="contact-form">
		  <div class="form-group">
		    <input type="text" name="name" class="form-control"  placeholder="Name">
		  </div>
		  <div class="form-group">
		    <input type="email" name="_replyto" class="form-control" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <textarea name="message" class="form-control" rows="3" placeholder="Message" required></textarea>
		  </div>
		  <input type="hidden" name="_next" value="/" />
		  <input type="text" name="_gotcha" style="display:none" />
	  	<button type="submit" class="btn btn-default hover-button">Submit</button>
		  <div class="notification-container"></div>
	  </div>
	</form>
</div>
<div class="contact-right col-xs-12 col-md-6">
	<div class="contact-text wow fadeInRight">
		I'd love to hear from you. Any communication is welcome and I will reply within one day, oftentimes right away, so say hi!
	</div>
</div>
