<div class="intro-bar center">
		<div class="intro-inner">
		<div class="row intro-upper">
			<div class="hello">
				<div class="intro-left intro col-xs-12 col-sm-6">
					<i class="fa fa-code" aria-hidden="true"></i><br>
					Front-end web developer
				</div>
				<div class="intro-right intro col-xs-12 col-sm-6">
					<i class="fa fa-laptop" aria-hidden="true"></i><br>
					Tech professional
				</div>
			</div>
		</div>
		<div class="row intro-lower">
			<div class="hello">
				<div class="intro-left intro col-xs-12 col-sm-6">
					<i class="fa fa-users" aria-hidden="true"></i><br>
					People gatherer
				</div>
				<div class="intro-right intro col-xs-12 col-sm-6">
					<i class="fa fa-lightbulb-o" aria-hidden="true"></i><br>
					Idea generator
				</div>
			</div>
		</div>
	</div>
</div>