<div class="intro-bar center">
	<div class="row">
		<div class="hello">
			<div class="intro-left intro col-xs-12 col-sm-6 wow fadeInLeft">
				<i class="fa fa-code" aria-hidden="true"></i><br>
				Front-end web developer
			</div>
			<div class="intro-right intro col-xs-12 col-sm-6 wow fadeInRight">
				<i class="fa fa-laptop" aria-hidden="true"></i><br>
				Tech professional
			</div>
		</div>
	</div>
</div>