<div class="job-container center">
	<div class="title">
		How I Roll
	</div>
	<div class="row">
		<div class="job-tile col-xs-12 col-md-6 wow fadeInUp">
			<div class="job-tile-inner">
				<div class="job-subtitle">
					Web Development
				</div>
				<p class="job-content"><span class="current-exp"></span>+ year professional web developer highly proficient in modern front-end technology, creating quality and lasting UI from the ground up.</p>
			</div>
		</div>
		<div class="job-tile col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
			<div class="job-tile-inner">
				<div class="job-subtitle">
					Eye for Detail
				</div>
				<p class="job-content">Always striving for pixel perfection, I harbor a deep and long-standing appreciation for client-side technology. I strive for only the best in screen-based UX.</p>
			</div>
		</div>
		<div class="job-tile col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
			<div class="job-tile-inner">
				<div class="job-subtitle">
					Collaborator
				</div>
				<p class="job-content">Fully committed to collaboration in offices of any size. I live by the idea that without multiple voices there can be no innovation.</p>
			</div>
		</div>
		<div class="job-tile col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
			<div class="job-tile-inner">
				<div class="job-subtitle">
					Communicator
				</div>
				<p class="job-content">Capable, experienced writer and innovator. I bring teams together and build lasting relationships to execute on demand.</p>
			</div>
		</div>
	</div>
</div>