<div class="job-container center">
	<div class="container">
		<div class="row">
			<div class="title underline">
				How I Roll
			</div>
			<div class="container">
				<div class="col-xs-12 col-md-4 wow fadeInUp">
					<div class="job-subtitle">
						Web Development
					</div>
					<p class="job-content"><span class="current-exp"></span>+ year professional web developer experienced in taking working prototypes and turning them into functional, responsive, engaging webpages.<br><br>
					Hightly proficient in modern front-end libraries and frameworks for creating a quality UI from the ground up.<br><br>:::&nbsp;&nbsp;:::&nbsp;&nbsp;:::</p>
				</div>
				<div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
					<div class="job-subtitle">
						Eye for Detail
					</div>
					<p class="job-content">Always striving for pixel perfection, I harbor a deep and long-standing appreciation for client-side technology and attempt to express my passion in all I do.<br><br>
					Using a mobile-first approach to responsive design, I strive for only the best in screen-based UX.
					<br><br>:::&nbsp;&nbsp;:::&nbsp;&nbsp;:::</p>
				</div>
				<div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.8s">
					<div class="job-subtitle">
						Team Player
					</div>
					<p class="job-content">Fully committed to collaboration in offices of any size. Trained using the agile programming methodology and live by the idea that without multiple voices there can be no innovation.<br><br>
					Staying positive and productive is job number one.<br><br>:::&nbsp;&nbsp;:::&nbsp;&nbsp;:::</p>
				</div>
			</div>
		</div>
	</div>
</div>