<div class="portfolio-container center">
	<div class="title underline">
		My Work
	</div>
	<div class="row">

		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp">
			<a href="" data-toggle="modal" data-target="#bandhubModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-bandhub1.png" alt="Bandhub"/>
						<figcaption>
							<h2>Project <span>Bandhub</span></h2>
							<p>Ruby did not need any help. Everybody knew that.</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<div class="grid">
				<figure class="effect-ruby">
					<img src="images/work-scenic1.png" alt="Scenic49"/>
					<figcaption>
						<h2>Project <span>Scenic49</span></h2>
						<p>Ruby did not need any help. Everybody knew that.</p>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.4s">
			<div class="grid">
				<figure class="effect-ruby">
					<img src="images/work-oncamera1.png" alt="On Camera"/>
					<figcaption>
						<h2>Project <span>On Camera</span></h2>
						<p>Ruby did not need any help. Everybody knew that.</p>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp">

		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">

		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.4s">

		</div>
	</div>
</div>