<div class="portfolio-container center">
	<div class="title underline">
		My Work
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#scenicModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-scenic.png" alt="Scenic49"/>
						<figcaption>
							<h2>Project <span>Scenic49</span></h2>
							<p>A Ruby on Rails App<br>January 2014</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 work-tile wow fadeInUp">
			<a href="" data-toggle="modal" data-target="#biglotsModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-biglots1.png" alt="Big Lots"/>
						<figcaption>
							<h2>Project <span>Big Lots</span></h2>
							<p>A Retail Giant Website<br>January 2015</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#workloggerModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-worklogger2.png" alt="Work Logger"/>
						<figcaption>
							<h2>Project <span>WorkLogger</span></h2>
							<p>A MEAN Stack App<br>April 2016</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#tjxModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-tjx1.png" alt="TJMaxx"/>
						<figcaption>
							<h2>Project <span>TJMaxx</span></h2>
							<p>A Retail Giant Website<br>March 2018 - present</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#shelterModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-shelter.png" alt="Shelter In Studio"/>
						<figcaption>
							<h2>Project <span>SIS</span></h2>
							<p>A responsive webapp<br>June 2020</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
	</div>
</div>

<!-- - - - - - - - -->
<!-- MODAL CONTENT -->
<!-- - - - - - - - -->

<!-- SCENIC 49 -->
<div class="modal fade" id="scenicModal" tabindex="-1" role="dialog" aria-labelledby="scenicModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-button-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
			</div>
			<div class="container center">
				<div class="row">
					<div class="title underline">Scenic 49</div>
				</div>
			</div>
			<div class="modal-body">
				<section>
					<div class="modal-container">
						<div class="project-text-main">
							<p><em>Ruby on Rails, HTML, CSS, jQuery, Isotope.js, MapBox, AWS Services, Paperclip Gem</em></p>
						</div>
						<div class="row">
							<div class="project-screenshots col-xs-12">
								<img src="images/work-scenic1.png">
								<img src="images/work-scenic2.png">
								<img src="images/work-scenic3.png">
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="modal-container">
						<div class="row">
							<div class="project-text-sub">
								<p>On The Road: The Scenic 49 is the interactive online map component of <a href="http://peterfoucault.wordpress.com/2014/03/22/map-installation-on-the-road-at-alter-space-gallery-in-sf-on-saturday-march-15th-from-7-10-pm/" target="_blank">an art project</a> developed by Peter Foucault and Chris Treggiari.</p>

								<p>The app uses the MapBox API for the mapping functionality, Amazon Web Services for photo storage, and the Paperclip Ruby Gem for the photo uploading protocol.</p>

								<p>This project is fully reproduceable and can be cloned and adapted for any city in the world (see Project On Camera). Feel free to head over to Github and <a href="https://github.com/panicbus/scenic_49" target="_blank">fork it</a>.</p>
								<p><a href="https://github.com/panicbus/scenic_49" target="_blank"><i class="fa fa-github-alt" aria-hidden="true" title="View on Github"></i></a></p>
								<a href="https://scenic49.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit Scenic 49</button></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- BIG LOTS -->
<div class="modal fade" id="biglotsModal" tabindex="-1" role="dialog" aria-labelledby="oncameraModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-button-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
			</div>
			<div class="container center">
				<div class="row">
					<div class="title underline">Big Lots</div>
				</div>
			</div>
			<div class="modal-body">
				<section>
					<div class="modal-container">
						<div class="project-text-main">
							<p><em>JSP, HTML, Sass, JavaScript, jQuery, JBoss, Oracle Cloud Services</em></p>
						</div>
						<div class="row">
							<div class="project-screenshots col-xs-12">
								<img src="images/work-biglots1.png">
								<img src="images/work-biglots2.png">
								<img src="images/work-biglots3.png">
								<img src="images/work-biglots4.png">
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="modal-container">
						<div class="row">
							<div class="project-text-sub">
								<p>Big Lots was a company project at DMI. I was in charge of creating most of the orignal page layouts and several interactive elements and plugins, while utilizing a fully-responsive custom Foundation-based grid system.</p>
								<a href="https://www.biglots.com/" target="_blank"><button class="btn btn-default hover-button">Visit Big Lots</button></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- WORK LOGGER -->
<div class="modal fade" id="workloggerModal" tabindex="-1" role="dialog" aria-labelledby="oncameraModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-button-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
			</div>
			<div class="container center">
				<div class="row">
					<div class="title underline">Work Logger</div>
				</div>
			</div>
			<div class="modal-body">
				<section>
					<div class="modal-container">
						<div class="project-text-main">
							<p><em>NodeJs, Express.js, AngularJS, MongoDB, HTML, Sass</em></p>
						</div>
						<div class="row">
							<div class="project-screenshots col-xs-12">
								<img src="images/work-worklogger1.png">
								<img src="images/work-worklogger2.png">
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="modal-container">
						<div class="row">
							<div class="project-text-sub">
								<p>Work Logger is a personal project making use of the JavaScript MEAN stack. It was originally built as a tool to record time and resources while working part time for Postmates and conceived after realizing their app wasn't providing the richness of information I needed to assess my earnings.</p>
								<p><a href="https://github.com/panicbus/work-logger2" target="_blank"><i class="fa fa-github-alt" aria-hidden="true" title="View on Github"></i></a></p>
								<a href="https://pm-worklogger.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit Work Logger</button></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- TJX -->
<div class="modal fade" id="tjxModal" tabindex="-1" role="dialog" aria-labelledby="scenicModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-button-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
			</div>
			<div class="container center">
				<div class="row">
					<div class="title underline">TJMaxx.com Redesign</div>
				</div>
			</div>
			<div class="modal-body">
				<section>
					<div class="modal-container">
						<div class="project-text-main">
							<p><em>JSP, HTML, Sass, JavaScript, jQuery, Java, Oracle Cloud Services</em></p>
						</div>
						<div class="row">
							<div class="project-screenshots col-xs-12">
								<img src="images/work-tjx1.png">
								<img src="images/work-tjx2.png">
								<img src="images/work-tjx3.png">
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="modal-container">
						<div class="row">
							<div class="project-text-sub">
								<p>TJMaxx is an ongoing redesign project at my company, DMI. I am in charge of delivering functional components and page elements based on PSD mockups and wireframes.</p>
								<a href="https://tjmaxx.tjx.com/store/index.jsp" target="_blank"><button class="btn btn-default hover-button">Visit TJMaxx</button></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- SHELTER IN STUDIO -->
<div class="modal fade" id="shelterModal" tabindex="-1" role="dialog" aria-labelledby="shelterModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-button-container">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
			</div>
			<div class="container center">
				<div class="row">
					<div class="title underline">Shelter In Studio</div>
				</div>
			</div>
			<div class="modal-body">
				<section>
					<div class="modal-container">
						<div class="project-text-main">
							<p><em>HTML, CSS, jQuery, Lightbox</em></p>
						</div>
						<div class="row">
							<div class="project-screenshots col-xs-12">
								<img src="images/work-shelter.png">
								<img src="images/work-shelter2.png">
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="modal-container">
						<div class="row">
							<div class="project-text-sub">
								<p>Shelter In Studio is a small responsive webapp project documenting artists and their response to the Covid-19 crisis.</p>
								<a href="http://shelterinstudio.org" target="_blank"><button class="btn btn-default hover-button">Visit Shelter In Studio</button></a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

