<div class="portfolio-container center">
	<div class="title underline">
		My Work
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp">
			<a href="" data-toggle="modal" data-target="#bandhubModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-bandhub1.png" alt="Bandhub"/>
						<figcaption>
							<h2>Project <span>Bandhub</span></h2>
							<p>A Ruby on Rails App<br>December 2013</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#scenicModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-scenic.png" alt="Scenic49"/>
						<figcaption>
							<h2>Project <span>Scenic49</span></h2>
							<p>A Ruby on Rails App<br>January 2014</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.4s">
			<a href="" data-toggle="modal" data-target="#oncameraModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-oncamera.png" alt="On Camera"/>
						<figcaption>
							<h2>Project <span>On Camera</span></h2>
							<p>A Ruby on Rails App<br>February 2014</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp">
			<a href="" data-toggle="modal" data-target="#biglotsModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-biglots1.png" alt="Big Lots"/>
						<figcaption>
							<h2>Project <span>Big Lots</span></h2>
							<p>A Retail Giant E-commerce Website<br>January 2015</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.2s">
			<a href="" data-toggle="modal" data-target="#workloggerModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="images/work-worklogger2.png" alt="Work Logger"/>
						<figcaption>
							<h2>Project <span>WorkLogger</span></h2>
							<p>A MEAN Stack App<br>April 2016</p>
						</figcaption>
					</figure>
				</div>
			</a>

		</div>
		<div class="col-md-4 col-sm-6 col-xs-12 work-tile wow fadeInUp" data-wow-delay="0.4s">
			<a href="" data-toggle="modal" data-target="#lastModal">
				<div class="grid">
					<figure class="effect-ruby">
						<img src="" alt=""/>
						<figcaption>
							<h2>Project <span>X</span></h2>
							<p>Node App Coming July 2016</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
	</div>
</div>


<!-- - - - - - - - -->
<!-- MODAL CONTENT -->
<!-- - - - - - - - -->

<!-- BANDHUB -->
<div class="modal fade" id="bandhubModal" tabindex="-1" role="dialog" aria-labelledby="bandhubModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">BandHub</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>Ruby on Rails, HTML, CSS, jQuery, Devise/OmniAuth, Echonest &amp; SongKick APIs</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="images/work-bandhub1.png">
					      <img src="images/work-bandhub2-min.png">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
				        <p>BandHub is a single page app that lets users search for and save their favorite bands to keep up with their latest news and information. The app taps two external APIs to aggregate tour data, artist featured news stories, tagged blog posts and more!<br>
								Give it a whirl:<br>
								Username: MusicLover<br>
								Password: demodemo</p>
				      	<a href="https://bandhub.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit BandHub</button></a>
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</div>


<!-- SCENIC 49 -->
<div class="modal fade" id="scenicModal" tabindex="-1" role="dialog" aria-labelledby="scenicModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">Scenic 49</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>Ruby on Rails, HTML, CSS, jQuery, Isotope.js, MapBox, AWS Services, Paperclip Gem</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="images/work-scenic1.png">
					      <img src="images/work-scenic2.png">
					      <img src="images/work-scenic3.png">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
				        <p>On The Road: The Scenic 49 is the interactive online map component of <a href="http://peterfoucault.wordpress.com/2014/03/22/map-installation-on-the-road-at-alter-space-gallery-in-sf-on-saturday-march-15th-from-7-10-pm/" target="_blank">an art project</a> developed by Peter Foucault and Chris Treggiari.</p>

								<p>The app uses the MapBox API for the mapping functionality, Amazon Web Services for photo storage, and the Paperclip Ruby Gem for the photo uploading protocol.</p>

								<p>This project is fully reproduceable and can be cloned and adapted for any city in the world (see Project On Camera). Feel free to head over to Github and <a href="https://github.com/panicbus/scenic_49" target="_blank">fork it</a>.</p>
				      	<a href="https://scenic49.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit Scenic 49</button></a>
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</div>


<!-- ON CAMERA -->
<div class="modal fade" id="oncameraModal" tabindex="-1" role="dialog" aria-labelledby="oncameraModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">On Camera</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>Ruby on Rails, HTML5, CSS, jQuery, Isotope.js, MapBox, AWS Services, Paperclip Gem</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="images/work-oncamera1.png">
					      <img src="images/work-oncamera2.png">
					      <img src="images/work-oncamera3.png">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
								<p>On Camera: The Watchmen is a cloned iteration of the Scenic 49 project, the interactive online map for another <a href="http://peterfoucault.wordpress.com/2014/06/05/peter-foucault-map-project-at-torrance-art-museum-in-the-watchmen-exhibition/">Peter Foucault and Chris Treggiari</a>.</p>

								<p>This version uses the exact techonology as the Scenic 49 version, only having changed the map and using new GeoJson data for each location.</p>

								<p>This project is also open-source and available <a href="https://github.com/panicbus/on_camera" target="_blank">to be forked</a>. It should less than 1 hour to convert to any city of your choosing.</p>
				      	<a href="https://oncamera.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit On Camera</button></a>
							</div>
						</div>
						<div class="row">
					</div>
				</section>
      </div>
    </div>
  </div>
</div>

<!-- BIG LOTS -->
<div class="modal fade" id="biglotsModal" tabindex="-1" role="dialog" aria-labelledby="oncameraModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">Big Lots</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>JSP, HTML, Sass, JavaScript, jQuery, JBoss, Oracle Cloud Services</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="images/work-biglots1.png">
					      <img src="images/work-biglots2.png">
					      <img src="images/work-biglots3.png">
					      <img src="images/work-biglots4.png">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
								<p>Big Lots was a work project at DMI.</p>
				      	<a href="https://www.biglots.com/" target="_blank"><button class="btn btn-default hover-button">Visit Big Lots</button></a>
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</div>


<!-- Work Logger -->
<div class="modal fade" id="workloggerModal" tabindex="-1" role="dialog" aria-labelledby="oncameraModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">Work Logger</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>NodeJs, Express.js, AngularJS, MongoDB, HTML, Sass</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="images/work-worklogger1.png">
					      <img src="images/work-worklogger2.png">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
								<p>Work Logger is a personal project making use of the JavaScript MEAN stack. It was originally built as a tool to record time and resources while working part time for Postmates and conceived after realizing their app wasn't providing the richness of information I needed to assess my earnings.</p>
				      	<a href="https://pm-worklogger.herokuapp.com" target="_blank"><button class="btn btn-default hover-button">Visit Work Logger</button></a>
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</div>

<!-- ??? -->
<div class="modal fade" id="lastModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<div class="modal-button-container">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
      <div class="container center">
      	<div class="row">
	        <div class="title underline">Project X</div>
        </div>
      </div>
      <div class="modal-body">
      	<section>
      		<div class="modal-container">
      			<div class="project-text-main">
      				<p><em>NodeJs, Express.js, AngularJS, MongoDB, HTML, Sass</em></p>
      			</div>
      			<div class="row">
			      	<div class="project-screenshots col-xs-12">
					      <img src="">
					      <img src="">
				      </div>
			      </div>
		      </div>
	      </section>
	      <section>
      		<div class="modal-container">
      			<div class="row">
      				<div class="project-text-sub">
								<p>Project currently in development</p>
								<p><em>Check back soon soon</em></p>
				      	<!-- <a href="" target="_blank"><button class="btn btn-default hover-button">Visit </button></a> -->
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</div>

