<div class="skills-container center">
	<div class="title">
			Skillset
	</div>
	<div class="row">
		<div class="donuts">
			<div class="donut-row">
				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
					  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					  <circle class="circle-chart__circle" stroke="#E44D26" stroke-width="2" stroke-dasharray="90,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
					<img src="images/html.png" alt="HTML5">
					<p style="color:#E44D26;">HTML5</p>
				</div>

				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
					  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					  <circle class="circle-chart__circle" stroke="#2062AE" stroke-width="2" stroke-dasharray="90,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
				  <img src="images/css.png" alt="CSS3">
					<p style="color:#2062AE;">CSS3</p>
				</div>

				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
						<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
						<circle class="circle-chart__circle" stroke="#8CC94A" stroke-width="2" stroke-dasharray="60,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
					<img src="images/sass.svg" alt="Sass">
					<p style="color:#8CC94A;">Sass</p>
				</div>
			</div>

			<div class="donut-row">
				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
					  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					  <circle class="circle-chart__circle" stroke="#0769AD" stroke-width="2" stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
					<img src="images/jquery.png" alt="jQuery">
					<p style="color:#0769AD;">jQuery</p>
				</div>

				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
					  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					  <circle class="circle-chart__circle" stroke="#8CC94A" stroke-width="2" stroke-dasharray="60,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
					<img src="images/nodejs.svg" alt="NodeJS">
					<p style="color:#8CC94A;">NodeJS</p>
				</div>
				
				<div class="donut col-xs-12 col-md-4">
					<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="180" height="180" xmlns="http://www.w3.org/2000/svg">
					  <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					  <circle class="circle-chart__circle" stroke="#E74C3C" stroke-width="2" stroke-dasharray="75,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
					</svg>
					<img src="images/jsp.svg" alt="JSP">
					<p style="color:#E74C3C;">JSP</p>
				</div>
			</div>
		</div>
	</div>
</div>