<div class="skills-carousel center">
	<div class="container">
		<div class="row">
			<div class="title underline">
				Skills
			</div>
			<div id="owl" class="owl-carousel wow fadeInUp">
				<div class="skill">
					<img src="images/html.png" alt="HTML5">
					<p>HTML5</p>
				</div>
				<div class="skill">
					<img src="images/css.png" alt="CSS3">
					<p>CSS3</p>
				</div>
				<div class="skill">
					<img src="images/sass.svg" alt="Sass">
					<p>Sass</p>
				</div>
				<div class="skill">
					<img src="images/jquery.png" alt="jQuery">
					<p>jQuery</p>
				</div>
				<div class="skill">
					<img src="images/bootstrap.svg" alt="Bootstrap">
					<p>Bootstrap</p>
				</div>
				<div class="skill">
					<img src="images/jsp.svg" alt="JSP">
					<p>JSP</p>
				</div>
				<div class="skill">
					<img src="images/nodejs.svg" alt="NodeJS">
					<p>NodeJS</p>
				</div>
			</div>
		</div>
	</div>
</div>