<!DOCTYPE html>
<html ng-app="portfolio">
<head>
	<title>Nico</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
</head>


<body ng-controller="mainController as vm">

	<section>
		<h1>NICO'S PORTFOLIO</h1>
		<p>It's gonna be a <a href="">portfolio</a></p>
	</section>


	<!-- Load jQuery and Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Load Angular -->
<!-- 	<script src="//code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
 -->
<!-- 	<script src="javascripts/app.js"></script>
	<script src="javascripts/controllers/mainController.js"></script> -->


</body>
</html>