.space {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 50%;
  margin: 2px auto;
  background: #1b1b1b;
  border: 4px solid #ecf0f1;
  overflow: hidden;
  transition: all 0.5s ease-in-out; }
  .space:hover {
    transform: rotate(15deg);
    border: 4px solid transparent; }
  .space:after {
    content: "";
    left: -4px;
    top: -4px;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0px 1000px #18191b; }

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 135px 184px #FFF, 459px 51px #FFF, 209px 305px #FFF, 66px 449px #FFF, 95px 260px #FFF, 264px 133px #FFF, 482px 31px #FFF, 500px 283px #FFF, 58px 203px #FFF, 398px 213px #FFF, 460px 279px #FFF, 97px 480px #FFF, 408px 451px #FFF, 274px 196px #FFF, 44px 455px #FFF, 42px 166px #FFF, 323px 263px #FFF, 365px 282px #FFF, 102px 345px #FFF, 332px 206px #FFF, 393px 229px #FFF, 399px 439px #FFF, 257px 477px #FFF, 53px 242px #FFF, 286px 384px #FFF, 414px 391px #FFF, 418px 11px #FFF, 232px 498px #FFF, 368px 410px #FFF, 81px 77px #FFF, 129px 316px #FFF, 232px 338px #FFF, 428px 325px #FFF, 328px 180px #FFF, 476px 62px #FFF, 133px 39px #FFF, 173px 328px #FFF, 273px 144px #FFF, 287px 393px #FFF, 13px 350px #FFF, 4px 311px #FFF, 179px 412px #FFF, 294px 191px #FFF, 208px 187px #FFF, 300px 135px #FFF, 292px 431px #FFF, 423px 485px #FFF, 240px 456px #FFF, 386px 426px #FFF, 62px 125px #FFF, 168px 35px #FFF, 213px 275px #FFF, 262px 366px #FFF, 277px 88px #FFF, 213px 321px #FFF, 76px 456px #FFF, 393px 59px #FFF, 83px 325px #FFF, 16px 3px #FFF, 243px 443px #FFF, 323px 424px #FFF, 434px 249px #FFF, 162px 300px #FFF, 357px 239px #FFF, 428px 268px #FFF, 436px 54px #FFF, 350px 60px #FFF, 446px 10px #FFF, 478px 22px #FFF, 105px 3px #FFF, 42px 357px #FFF, 154px 454px #FFF, 196px 483px #FFF, 59px 380px #FFF, 84px 28px #FFF, 295px 189px #FFF, 346px 53px #FFF, 244px 331px #FFF, 386px 347px #FFF, 63px 210px #FFF, 345px 142px #FFF;
  animation: starTravel 8s linear infinite; }

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 21px 398px #FFF, 306px 423px #FFF, 481px 70px #FFF, 418px 336px #FFF, 320px 445px #FFF, 128px 423px #FFF, 242px 111px #FFF, 293px 20px #FFF, 438px 43px #FFF, 477px 360px #FFF, 461px 163px #FFF, 18px 171px #FFF, 166px 285px #FFF, 322px 265px #FFF, 273px 184px #FFF, 44px 93px #FFF, 270px 276px #FFF, 87px 360px #FFF, 122px 191px #FFF, 86px 207px #FFF, 405px 231px #FFF, 90px 307px #FFF, 407px 394px #FFF, 353px 216px #FFF, 264px 413px #FFF, 480px 222px #FFF, 149px 209px #FFF, 196px 343px #FFF, 474px 139px #FFF, 412px 85px #FFF, 483px 415px #FFF, 153px 265px #FFF, 73px 153px #FFF, 126px 170px #FFF, 470px 367px #FFF, 174px 135px #FFF, 51px 291px #FFF, 73px 430px #FFF, 132px 189px #FFF, 361px 255px #FFF, 11px 467px #FFF, 394px 33px #FFF, 141px 262px #FFF, 417px 340px #FFF, 274px 11px #FFF, 295px 158px #FFF, 299px 274px #FFF, 77px 485px #FFF, 382px 350px #FFF, 132px 444px #FFF, 162px 426px #FFF;
  animation: starTravel 12s linear infinite; }

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 136px 224px #FFF, 86px 450px #FFF, 181px 55px #FFF, 50px 32px #FFF, 242px 72px #FFF, 103px 466px #FFF, 284px 218px #FFF, 138px 277px #FFF, 7px 9px #FFF, 459px 173px #FFF, 281px 35px #FFF, 449px 328px #FFF, 425px 439px #FFF, 434px 8px #FFF, 400px 169px #FFF, 175px 263px #FFF, 445px 115px #FFF, 100px 480px #FFF, 284px 321px #FFF, 221px 465px #FFF, 418px 10px #FFF, 382px 71px #FFF, 274px 293px #FFF, 260px 408px #FFF, 265px 429px #FFF, 334px 77px #FFF;
  animation: starTravel 18s linear infinite; }

.stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 84px 73px #FFF, 358px 259px #FFF, 81px 311px #FFF, 331px 305px #FFF, 188px 132px #FFF, 492px 165px #FFF, 317px 453px #FFF, 168px 500px #FFF, 478px 87px #FFF, 368px 199px #FFF, 327px 298px #FFF, 156px 306px #FFF, 180px 337px #FFF, 228px 9px #FFF, 349px 443px #FFF, 328px 187px #FFF, 412px 199px #FFF, 376px 97px #FFF, 179px 227px #FFF, 102px 291px #FFF, 438px 186px #FFF, 354px 423px #FFF, 80px 471px #FFF, 461px 145px #FFF, 384px 237px #FFF, 416px 392px #FFF, 153px 68px #FFF, 27px 135px #FFF, 48px 476px #FFF, 374px 103px #FFF, 476px 17px #FFF;
  animation: starTravel 18s linear infinite; }

@keyframes starTravel {
  0% {
    transform: translate(300px, -300px); }

  100% {
    transform: translate(-300px, 300px); } }
.ship-container {
  width: 300px;
  height: 300px;
  margin: -20px auto;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  z-index: 100;
  transform: rotate(45deg); }

.ship-body {
  width: 50px;
  height: 150px;
  background: #fffce6;
  margin: 24% auto;
  border-top-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-bottom-right-radius: 35% 50%;
  border-bottom-left-radius: 35% 50%;
  box-shadow: 4px -2px 6px 3px #191919 inset, 9px 3px 24px 3px #a42a15 inset; }

.nose-cone {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #e74c3c;
  height: 0;
  left: 50%;
  position: absolute;
  top: 40px;
  transform: translate(-50%, 0);
  width: 0;
  z-index: -1;
  box-shadow: 4px -2px 6px 3px #191919 inset; }

.porthole1 {
  position: absolute;
  top: 100px;
  right: 46%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 4px 1px #e74c3c; }

.porthole2 {
  position: absolute;
  top: 135px;
  right: 47%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 3px 1px #e74c3c; }

.wing1 {
  position: relative;
  width: 0px;
  height: 0px;
  left: -25px;
  top: 114px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(100deg);
  z-index: -1; }

.wing2 {
  position: relative;
  width: 0px;
  height: 0px;
  left: 13px;
  top: 84px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(255deg);
  z-index: -1; }

.flames1 {
  position: absolute;
  width: 13px;
  height: 65px;
  background: #feffd1;
  animation: flameBoost 0.1s infinite;
  top: 222px;
  left: 143px; }

@keyframes flameBoost {
  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; }

  100% {
    border-bottom-right-radius: 20px 70px;
    border-bottom-left-radius: 20px 70px;
    box-shadow: 0px -5px 0px 2px #a42a15 inset, 0 2px 15px red; }

  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; } }
