.space {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 50%;
  margin: 2px auto;
  background: #1b1b1b;
  border: 4px solid #ecf0f1;
  overflow: hidden;
  transition: all 0.5s ease-in-out; }
  .space:hover {
    transform: rotate(20deg);
    border: 4px solid transparent;
    transition: all 0.5s ease-in-out; }
    .space:hover .ship-container {
      top: -10px;
      left: 10px; }
    .space:hover .ship-body {
      transition: all 0.5s ease-in-out;
      height: 170px;
      width: 45px;
      box-shadow: 2px -5px 5px 2px #191919 inset, 6px 2px 22px 3px #a42a15 inset; }
    .space:hover .nose-cone {
      top: 30px; }
    .space:hover .porthole1 {
      width: 21px;
      height: 28px; }
    .space:hover .porthole2 {
      width: 16px;
      height: 22px; }
    .space:hover .flames1 {
      top: 243px;
      height: 80; }
    .space:hover .wing1 {
      left: -23px;
      top: 130px; }
    .space:hover .wing2 {
      left: 9px;
      top: 96px; }
    .space:hover .stars1 {
      animation: starTravel 2s linear infinite; }
    .space:hover .stars2 {
      animation: starTravel 3s linear infinite; }
    .space:hover .stars3 {
      animation: starTravel 5s linear infinite; }
    .space:hover .stars4 {
      animation: starTravel 5s linear infinite; }
  .space:after {
    content: "";
    left: -4px;
    top: -4px;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0px 1000px #18191b; }

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 291px 340px #FFF, 370px 428px #FFF, 16px 60px #FFF, 340px 487px #FFF, 146px 313px #FFF, 130px 17px #FFF, 485px 451px #FFF, 474px 23px #FFF, 112px 81px #FFF, 206px 90px #FFF, 268px 319px #FFF, 374px 240px #FFF, 494px 152px #FFF, 122px 368px #FFF, 321px 138px #FFF, 258px 231px #FFF, 388px 19px #FFF, 116px 450px #FFF, 462px 155px #FFF, 420px 68px #FFF, 410px 172px #FFF, 347px 215px #FFF, 84px 130px #FFF, 187px 399px #FFF, 23px 229px #FFF, 214px 438px #FFF, 219px 17px #FFF, 382px 196px #FFF, 490px 19px #FFF, 160px 72px #FFF, 292px 491px #FFF, 31px 383px #FFF, 491px 429px #FFF, 373px 267px #FFF, 146px 299px #FFF, 429px 227px #FFF, 423px 479px #FFF, 422px 285px #FFF, 102px 172px #FFF, 491px 28px #FFF, 434px 221px #FFF, 283px 29px #FFF, 45px 96px #FFF, 120px 50px #FFF, 284px 255px #FFF, 35px 493px #FFF, 479px 4px #FFF, 370px 123px #FFF, 422px 187px #FFF, 361px 397px #FFF, 370px 465px #FFF, 494px 242px #FFF, 257px 249px #FFF, 485px 446px #FFF, 273px 204px #FFF, 46px 101px #FFF, 247px 131px #FFF, 155px 470px #FFF, 365px 190px #FFF, 68px 205px #FFF, 38px 98px #FFF, 4px 19px #FFF, 132px 114px #FFF, 483px 334px #FFF, 89px 67px #FFF, 93px 77px #FFF, 286px 12px #FFF, 222px 301px #FFF, 390px 393px #FFF, 415px 473px #FFF, 399px 63px #FFF, 395px 476px #FFF, 50px 196px #FFF, 274px 287px #FFF, 268px 447px #FFF, 474px 477px #FFF, 257px 391px #FFF, 401px 417px #FFF, 85px 434px #FFF, 148px 296px #FFF, 364px 268px #FFF;
  animation: starTravel 8s linear infinite; }

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 305px 177px #FFF, 215px 86px #FFF, 285px 233px #FFF, 386px 449px #FFF, 311px 468px #FFF, 57px 405px #FFF, 276px 189px #FFF, 200px 42px #FFF, 322px 308px #FFF, 131px 113px #FFF, 344px 73px #FFF, 76px 149px #FFF, 86px 278px #FFF, 250px 4px #FFF, 13px 216px #FFF, 404px 240px #FFF, 295px 375px #FFF, 425px 17px #FFF, 44px 53px #FFF, 2px 374px #FFF, 92px 452px #FFF, 117px 144px #FFF, 495px 403px #FFF, 424px 318px #FFF, 136px 452px #FFF, 290px 204px #FFF, 287px 104px #FFF, 253px 363px #FFF, 386px 270px #FFF, 193px 188px #FFF, 67px 129px #FFF, 301px 72px #FFF, 236px 473px #FFF, 321px 464px #FFF, 143px 385px #FFF, 488px 324px #FFF, 277px 288px #FFF, 66px 187px #FFF, 114px 94px #FFF, 95px 341px #FFF, 359px 53px #FFF, 196px 344px #FFF, 295px 387px #FFF, 347px 349px #FFF, 304px 172px #FFF, 193px 321px #FFF, 472px 228px #FFF, 401px 148px #FFF, 253px 110px #FFF, 365px 381px #FFF, 450px 447px #FFF;
  animation: starTravel 12s linear infinite; }

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 79px 319px #FFF, 397px 418px #FFF, 48px 363px #FFF, 281px 132px #FFF, 171px 293px #FFF, 74px 245px #FFF, 327px 499px #FFF, 412px 20px #FFF, 428px 148px #FFF, 281px 311px #FFF, 115px 212px #FFF, 319px 239px #FFF, 416px 500px #FFF, 500px 126px #FFF, 188px 123px #FFF, 169px 73px #FFF, 481px 17px #FFF, 282px 145px #FFF, 127px 222px #FFF, 256px 346px #FFF, 451px 364px #FFF, 173px 382px #FFF, 453px 111px #FFF, 63px 406px #FFF, 103px 24px #FFF, 428px 275px #FFF;
  animation: starTravel 18s linear infinite; }

.stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 38px 469px #FFF, 110px 449px #FFF, 361px 336px #FFF, 220px 35px #FFF, 26px 169px #FFF, 221px 368px #FFF, 336px 296px #FFF, 266px 106px #FFF, 104px 420px #FFF, 383px 166px #FFF, 206px 401px #FFF, 353px 152px #FFF, 154px 223px #FFF, 279px 45px #FFF, 211px 319px #FFF, 310px 281px #FFF, 5px 18px #FFF, 179px 256px #FFF, 498px 167px #FFF, 85px 279px #FFF, 126px 48px #FFF, 151px 341px #FFF, 473px 55px #FFF, 212px 189px #FFF, 252px 434px #FFF, 197px 217px #FFF, 366px 300px #FFF, 99px 416px #FFF, 180px 208px #FFF, 396px 122px #FFF, 413px 428px #FFF;
  animation: starTravel 18s linear infinite; }

@keyframes starTravel {
  0% {
    transform: translate(300px, -300px); }

  100% {
    transform: translate(-300px, 300px); } }
.ship-container {
  width: 300px;
  height: 300px;
  margin: -20px auto;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  z-index: 100;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out; }

.ship-body {
  width: 50px;
  height: 150px;
  background: #fffce6;
  margin: 24% auto;
  border-top-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-bottom-right-radius: 35% 50%;
  border-bottom-left-radius: 35% 50%;
  box-shadow: 4px -2px 6px 3px #191919 inset, 9px 3px 24px 3px #a42a15 inset;
  transition: all 0.5s ease-in-out; }

.nose-cone {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #e74c3c;
  height: 0;
  left: 50%;
  position: absolute;
  top: 40px;
  transform: translate(-50%, 0);
  width: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.porthole1 {
  position: absolute;
  top: 100px;
  right: 46%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 4px 1px #e74c3c;
  transition: all 0.5s ease-in-out; }

.porthole2 {
  position: absolute;
  top: 135px;
  right: 47%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 3px 1px #e74c3c;
  transition: all 0.5s ease-in-out; }

.wing1 {
  position: relative;
  width: 0px;
  height: 0px;
  left: -25px;
  top: 114px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(100deg);
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.wing2 {
  position: relative;
  width: 0px;
  height: 0px;
  left: 13px;
  top: 84px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(255deg);
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.flames1 {
  position: absolute;
  width: 13px;
  height: 65px;
  background: #feffd1;
  animation: flameBoost 0.1s infinite;
  top: 222px;
  left: 143px;
  transition: all 0.5s ease-in-out; }

@keyframes flameBoost {
  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; }

  100% {
    border-bottom-right-radius: 20px 70px;
    border-bottom-left-radius: 20px 70px;
    box-shadow: 0px -5px 0px 2px #a42a15 inset, 0 2px 15px red; }

  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; } }
