.space {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 50%;
  margin: 2px auto;
  background: #1b1b1b;
  border: 4px solid #ecf0f1;
  overflow: hidden;
  transition: all 0.5s ease-in-out; }
  .space:hover {
    transform: rotate(20deg);
    border: 4px solid transparent;
    transition: all 0.5s ease-in-out; }
    .space:hover .ship-container {
      top: -10px;
      left: 10px; }
    .space:hover .ship-body {
      transition: all 0.5s ease-in-out;
      height: 170px;
      width: 45px;
      box-shadow: 2px -5px 5px 2px #191919 inset, 6px 2px 22px 3px #a42a15 inset; }
    .space:hover .nose-cone {
      top: 30px; }
    .space:hover .porthole1 {
      width: 21px;
      height: 28px; }
    .space:hover .porthole2 {
      width: 16px;
      height: 22px; }
    .space:hover .flames1 {
      top: 243px;
      height: 80; }
    .space:hover .wing1 {
      left: -23px;
      top: 130px; }
    .space:hover .wing2 {
      left: 9px;
      top: 96px; }
    .space:hover .stars1 {
      animation: starTravel 2s linear infinite; }
    .space:hover .stars2 {
      animation: starTravel 3s linear infinite; }
    .space:hover .stars3 {
      animation: starTravel 5s linear infinite; }
    .space:hover .stars4 {
      animation: starTravel 5s linear infinite; }
  .space:after {
    content: "";
    left: -4px;
    top: -4px;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 0px 1000px #18191b; }

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 361px 83px #FFF, 62px 448px #FFF, 241px 432px #FFF, 62px 226px #FFF, 493px 254px #FFF, 91px 380px #FFF, 287px 287px #FFF, 281px 342px #FFF, 102px 268px #FFF, 216px 100px #FFF, 123px 100px #FFF, 340px 362px #FFF, 230px 435px #FFF, 275px 217px #FFF, 145px 297px #FFF, 419px 410px #FFF, 169px 296px #FFF, 388px 396px #FFF, 495px 430px #FFF, 14px 66px #FFF, 367px 141px #FFF, 288px 25px #FFF, 497px 316px #FFF, 414px 381px #FFF, 491px 58px #FFF, 2px 207px #FFF, 118px 328px #FFF, 1px 89px #FFF, 342px 400px #FFF, 359px 471px #FFF, 460px 492px #FFF, 434px 110px #FFF, 222px 342px #FFF, 146px 83px #FFF, 474px 177px #FFF, 287px 254px #FFF, 294px 350px #FFF, 497px 471px #FFF, 24px 79px #FFF, 187px 356px #FFF, 133px 108px #FFF, 382px 411px #FFF, 170px 496px #FFF, 153px 475px #FFF, 149px 192px #FFF, 298px 54px #FFF, 192px 290px #FFF, 42px 38px #FFF, 158px 160px #FFF, 406px 123px #FFF, 175px 140px #FFF, 82px 104px #FFF, 46px 497px #FFF, 244px 312px #FFF, 6px 120px #FFF, 393px 118px #FFF, 466px 163px #FFF, 261px 499px #FFF, 31px 171px #FFF, 366px 253px #FFF, 434px 229px #FFF, 67px 428px #FFF, 348px 263px #FFF, 408px 243px #FFF, 403px 112px #FFF, 434px 269px #FFF, 249px 187px #FFF, 464px 3px #FFF, 348px 393px #FFF, 173px 280px #FFF, 421px 70px #FFF, 94px 431px #FFF, 249px 407px #FFF, 455px 95px #FFF, 382px 251px #FFF, 499px 304px #FFF, 346px 260px #FFF, 402px 465px #FFF, 12px 395px #FFF, 67px 104px #FFF, 212px 81px #FFF;
  animation: starTravel 8s linear infinite; }

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 465px 208px #FFF, 194px 422px #FFF, 347px 86px #FFF, 455px 129px #FFF, 248px 393px #FFF, 158px 288px #FFF, 339px 251px #FFF, 478px 143px #FFF, 244px 255px #FFF, 347px 283px #FFF, 426px 39px #FFF, 432px 310px #FFF, 275px 339px #FFF, 37px 334px #FFF, 255px 166px #FFF, 272px 369px #FFF, 459px 366px #FFF, 16px 286px #FFF, 278px 313px #FFF, 490px 292px #FFF, 411px 432px #FFF, 30px 245px #FFF, 4px 257px #FFF, 495px 263px #FFF, 305px 82px #FFF, 482px 179px #FFF, 266px 422px #FFF, 477px 45px #FFF, 40px 249px #FFF, 211px 230px #FFF, 350px 410px #FFF, 120px 497px #FFF, 205px 77px #FFF, 427px 103px #FFF, 236px 201px #FFF, 227px 133px #FFF, 500px 101px #FFF, 365px 169px #FFF, 195px 387px #FFF, 190px 236px #FFF, 277px 186px #FFF, 256px 465px #FFF, 111px 11px #FFF, 426px 331px #FFF, 486px 18px #FFF, 150px 132px #FFF, 100px 225px #FFF, 474px 78px #FFF, 296px 318px #FFF, 52px 46px #FFF, 169px 441px #FFF;
  animation: starTravel 12s linear infinite; }

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 396px 233px #FFF, 247px 195px #FFF, 248px 461px #FFF, 463px 297px #FFF, 447px 181px #FFF, 59px 399px #FFF, 478px 288px #FFF, 273px 49px #FFF, 124px 378px #FFF, 215px 25px #FFF, 53px 437px #FFF, 32px 322px #FFF, 173px 468px #FFF, 395px 93px #FFF, 498px 67px #FFF, 101px 151px #FFF, 179px 192px #FFF, 336px 240px #FFF, 258px 377px #FFF, 374px 207px #FFF, 70px 30px #FFF, 58px 248px #FFF, 301px 458px #FFF, 207px 474px #FFF, 81px 284px #FFF, 378px 28px #FFF;
  animation: starTravel 18s linear infinite; }

.stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 301px 313px #FFF, 264px 199px #FFF, 293px 200px #FFF, 92px 205px #FFF, 457px 424px #FFF, 24px 181px #FFF, 389px 339px #FFF, 135px 87px #FFF, 311px 434px #FFF, 320px 144px #FFF, 121px 31px #FFF, 221px 187px #FFF, 136px 455px #FFF, 118px 190px #FFF, 159px 432px #FFF, 475px 316px #FFF, 12px 121px #FFF, 217px 468px #FFF, 39px 500px #FFF, 453px 263px #FFF, 356px 72px #FFF, 388px 404px #FFF, 265px 18px #FFF, 402px 35px #FFF, 252px 248px #FFF, 398px 123px #FFF, 463px 294px #FFF, 423px 193px #FFF, 78px 359px #FFF, 259px 284px #FFF, 449px 371px #FFF;
  animation: starTravel 18s linear infinite; }

@keyframes starTravel {
  0% {
    transform: translate(300px, -300px); }

  100% {
    transform: translate(-300px, 300px); } }
@keyframes hyperspaceTravel {
  0% {
    transform: translate(300px, -300px); }

  100% {
    transform: translate(-300px, 300px); } }
.ship-container {
  width: 300px;
  height: 300px;
  margin: -20px auto;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  z-index: 100;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out; }

.ship-body {
  width: 50px;
  height: 150px;
  background: #fffce6;
  margin: 24% auto;
  border-top-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-bottom-right-radius: 35% 50%;
  border-bottom-left-radius: 35% 50%;
  box-shadow: 4px -2px 6px 3px #191919 inset, 9px 3px 24px 3px #a42a15 inset;
  transition: all 0.5s ease-in-out; }

.nose-cone {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #e74c3c;
  height: 0;
  left: 50%;
  position: absolute;
  top: 40px;
  transform: translate(-50%, 0);
  width: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.porthole1 {
  position: absolute;
  top: 100px;
  right: 46%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 4px 1px #e74c3c;
  transition: all 0.5s ease-in-out; }

.porthole2 {
  position: absolute;
  top: 135px;
  right: 47%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #1b1b1b;
  box-shadow: inset 0 3px 1px #e74c3c;
  transition: all 0.5s ease-in-out; }

.wing1 {
  position: relative;
  width: 0px;
  height: 0px;
  left: -25px;
  top: 114px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(100deg);
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.wing2 {
  position: relative;
  width: 0px;
  height: 0px;
  left: 13px;
  top: 84px;
  border-right: 31px solid transparent;
  border-left: 31px solid transparent;
  border-bottom: 31px solid #e74c3c;
  border-radius: 70%;
  transform: rotate(255deg);
  z-index: -1;
  transition: all 0.5s ease-in-out; }

.flames1 {
  position: absolute;
  width: 13px;
  height: 65px;
  background: #feffd1;
  animation: flameBoost 0.1s infinite;
  top: 222px;
  left: 143px;
  transition: all 0.5s ease-in-out; }

@keyframes flameBoost {
  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; }

  100% {
    border-bottom-right-radius: 20px 70px;
    border-bottom-left-radius: 20px 70px;
    box-shadow: 0px -5px 0px 2px #a42a15 inset, 0 2px 15px red; }

  0% {
    border-bottom-right-radius: 12px 90px;
    border-bottom-left-radius: 12px 90px;
    box-shadow: 0px -10px 0px 2px #a42a15 inset, 0 15px 10px red; } }
