.space-container {
  background: #18191b;
  color: #ecf0f1;
  font-family: 'Varela Round', sans-serif;
  padding: 20px 0;
}
.gene {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 26px;
  text-align: right;
}
.about-text {
  font-size: 22px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}
@media screen and (min-width: 0px) {
  .about-text {
    padding: 20px !important;
    text-align: center;
  }
}
@media screen and (min-width: 550px) {
  .about-text {
    padding: 40px 40px 0 0 !important;
    text-align: left;
  }
}
