/*/// STYLUS MIXINS ////*/
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

accent-color = #e74c3c
offwhite = #ecf0f1

body, html
	padding: 0
	margin: 0
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: accent-color !important
	transition all .4s ease-in-out


/* NAVBAR */
.navbar
	min-height: 50px
	margin-bottom: 20px
	border: none
	transition: all .4s ease-in-out

.navbar-custom
	margin-bottom: 0
	padding: 20px 0
	text-transition: uppercase
	font-family: 'Raleway', sans-serif
	background: transparent

.navbar-nav
	li a
		transition: all .4s ease-in-out
		color: accent-color !important
		font-size: 19px
		&:hover
			background: none !important

.top-nav-collapse
	transition: all .4s ease-in-out
	padding: 0
	background: #000
	height: 50px
	border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important

.navbar-brand
	margin-top: -35px

.nav-logo
	float: left
	padding-top: 7px
	color: offwhite !important
	font-size: 25px
	display: none
	&:hover
		text-decoration: none

.page-scroll
	background: transparent !important
	&.active
		border-bottom: 3px solid accent-color
		margin-top: -3px


/* SPLASH SECTION */
.parallax-window
	min-height: 100vh

.header-title
	width: 100%
	background: rgba(0,0,0,0.1)
	border-top: 1px solid rgba(0,0,0,0.25)
	border-bottom: 1px solid rgba(0,0,0,0.25)
	padding: 50px 100px 30px;
	.title
		font-family: 'Raleway'
		font-weight: 700
		font-size: 60px
		text-transform: uppercase
		padding: 0
		margin: 0
		line-height: 0.9
		span
			color: accent-color
	.name
		font-family: 'Playfair Display', sans-serif
		font-style: italic
		font-weight: 500
		font-size: 35px
		margin-top: 0
		div
			display: inline-block

.social
	display: inline-block;
	i
		font-size: 25px
		transition all .2s ease-in-out
	ul
		padding-left: 0
	li
		display: inline-block
		font-size: 22px
		padding: 0 10px
	a
		color: #333 !important
	.fa-linkedin
		padding-left: 0
		&:hover
			color: #007bb6
	.fa-github:hover
		background: offwhite
		border-radius: 50px
	.fa-twitter:hover
		color: #00aced
	.fa-envelope:hover
		color: accent-color

.photos-by
	font-size: 12px
	span
		color: accent-color

/* INTRO SECTION */
.intro-bar
	font-family: 'Source Sans Pro', sans-serif
	text-transform: uppercase
	font-size: 22px
	padding: 30px 0
	background: accent-color
	.fa
		font-size: 38px

.hello
	width: 75%
	margin: 0 auto

.about-me
	background: #18191B
	color: offwhite
	font-family: 'Source Sans Pro', sans-serif
	font-size: 19px
	padding: 20px 0
	.about-me-container
		width: 75%
		margin: 0 auto
	.about-text
		padding: 20px 10px

.avatar
	img
		border-radius: 100px
		border: 5px solid #888
		width: 200px

/* SKILLS CAROUSEL */
.skills-carousel
	background: #000
	padding: 20px
	color: offwhite
	.skill
		font-size: 35px
		img
			max-width: 50px
			margin: 0 auto -50px
	.fa
		font-size: 40px

.owl-dot
	border-radius: 50px
	height: 5px
	width: 20px
	display: inline-block
	background: rgba(127,127,127, 0.5)
	margin-left: 5px
	margin-right: 5px

.owl-dot.active
	background: accent-color


/* JOB SECTION */
.parallax-window-2
	min-height: 300px

.job-container
	color: offwhite

.job-subtitle
	font-size: 22px
	margin-bottom: 10px


/* PORTFOLIO SECTION */
.work-tile
	height: 300px
	padding: 0 !important
	outline: 0

/* modal overlays */
.modal-dialog
	width: 100% !important
	margin: 0 !important
	min-height: 100vh !important

.modal-header
	border: none !important

.modal-content
	min-height: 100vh !important
	border-radius: 0 !important
	background: rgba(0,0,0,0.9) !important
	box-shadow: none !important
	.title
		width: 430px
		display: block
		font-size: 40px

.modal-container
	width: 60%
	margin: 15px auto
	color: offwhite

.modal-button-container
	position: fixed
	top: 0
	left: 0
	z-index: 1000
	padding: 10px

.fa-times
	color: accent-color
	font-size: 70px !important
	transition: all .2s ease-out
	&:hover
		color: #a1352a !important
.close
	text-shadow: none !important
	opacity: 1 !important
	outline: 0


.project-text-main
	font-size: 22px
.project-text-sub
	font-size: 18px

.project-screenshots img
	max-width: 100%
	margin: 0 auto 20px
	display: block
	transition: all .4s ease-in-out
	&:hover
		box-shadow: 0 0 3px accent-color

.visit-btn
	margin: 0 auto 50px



/* CONTACT SECTION */
.contact-container
	background: #000

.contact-form
	width: 100%
	margin: 0 auto 50px
	color: accent-color
	label
		width: 50%
		margin: 0 auto
		font-size: 22px
		letter-spacing: .2em
		font-weight: 200
		display: block
	input, textarea
		background: #000
		height: 50px
		padding: 10px 15px
		border-radius: 0 !important
		font-size: 20px
		color: accent-color
		border: transparent
		border-bottom: 1px solid accent-color
		transition: all .4s ease-in-out
		&:focus
			transition: all .4s ease-in-out
			border-color: tranparent
			box-shadow: 0 0 8px accent-color
	.form-control
		width: 50%
		margin: 0 auto
		transition: all .4s ease-in-out
		&:hover
			transition: all .4s ease-in-out
			width: 75%


/* FOOTER SECTION */
#footer
	color: offwhite
	.social a
		color: offwhite !important


// OFT-USED
body
	background: #000 !important
	width:100%
	height:100%

button
	&.hover-button
		background: #000
		padding: 8px 25px
		border-radius: 0
		font-size: 20px
		margin-top: 10px
		border: 1px solid accent-color
		color: accent-color
		transition: all .4s ease-in-out
		&:hover
			background: accent-color !important
			border: 1px solid accent-color !important
			color: offwhite !important

.title
	color: offwhite
	text-transform: uppercase
	font-size: 25px
	display: inline-block
	margin: 0 auto 25px
	padding: 10px 20px

.underline
	border-bottom: 1px solid accent-color

.subtitle
	font-size: 20px
	padding-bottom: 10px

.center
	text-align: center

.right
	text-align: right

.row
	margin: 0 !important
	clear: both

