body,
html {
  padding: 0;
  margin: 0;
  font: 18px;
}
a {
  color: #e74c3c !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* NAVBAR */
.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar-custom {
  margin-bottom: 0;
  padding: 20px 0;
  text-transition: uppercase;
  font-family: 'Varela Round', sans-serif;
  background: transparent;
}
.navbar-nav li a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #e74c3c !important;
  font-size: 19px;
  cursor: pointer;
}
.navbar-nav li a:hover {
  background: none !important;
  text-shadow: 0 0 3px #e74c3c;
}
.top-nav-collapse {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0;
  background: #000;
  height: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}
@media screen and (min-width: 0px) {
  .navbar-nav.large {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  .navbar-nav.large {
    display: block;
  }
}
.navbar-brand {
  margin-top: -35px;
}
.nav-logo {
  float: left;
  padding-top: 7px;
  color: #ecf0f1 !important;
  font-size: 25px;
  display: none;
}
@media screen and (min-width: 0px) {
  .nav-logo {
    margin-top: -60px;
  }
}
@media screen and (min-width: 878px) {
  .nav-logo {
    margin-top: 0;
  }
}
.nav-logo:hover {
  text-decoration: none;
}
.page-scroll {
  background: transparent !important;
}
@media screen and (min-width: 0px) {
  .page-scroll.active {
    border-bottom: 0;
    text-shadow: 0 0 5px #e74c3c;
    text-decoration: none;
  }
}
@media screen and (min-width: 550px) {
  .page-scroll.active {
    border-bottom: 3px solid #e74c3c;
    margin-top: -3px;
    text-shadow: 0;
  }
}
.sm-navbar-nav {
  display: none;
}
.sm-navbar-nav.active {
  display: block;
  background: rgba(0,0,0,0.8);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 999;
  position: fixed;
}
.sm-navbar-nav.active .navbar-nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sm-navbar-nav.active ul {
  list-style: none;
  padding: 0;
}
.sm-navbar-nav.active li {
  border: 2px solid #e74c3c;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}
.sm-navbar-nav.active li a {
  font-size: 30px;
  text-decoration: none;
}
.sm-navbar-nav.active li a:hover {
  text-decoration: none;
}
.sm-navbar-nav.active li + li {
  margin-top: 60px;
}
.fa-bars {
  font-size: 40px !important;
  margin-top: -13px;
}
/* SPLASH SECTION */
.parallax-window {
  min-height: 100vh;
}
.header-title {
  width: 100%;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
@media screen and (min-width: 0px) {
  .header-title {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 200px 20px;
  }
}
@media screen and (min-width: 550px) {
  .header-title {
    position: relative;
    padding: 50px 100px 30px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
}
@media screen and (min-width: 878px) {
  .header-title {
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    -ms-transform: translateY(80%);
    -o-transform: translateY(80%);
    transform: translateY(80%);
  }
}
.header-title .title {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 0.9;
}
@media screen and (min-width: 0px) {
  .header-title .title {
    font-size: 44px;
  }
}
@media screen and (min-width: 550px) {
  .header-title .title {
    font-size: 60px;
  }
}
.header-title .name {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-weight: 500;
  margin-top: 0;
}
@media screen and (min-width: 0px) {
  .header-title .name {
    font-size: 28px;
  }
}
@media screen and (min-width: 550px) {
  .header-title .name {
    font-size: 35px;
  }
}
.header-title .name div {
  display: inline-block;
}
.social {
  display: inline-block;
}
.social i {
  font-size: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social ul {
  padding-left: 0;
}
.social li {
  display: inline-block;
  font-size: 22px;
  padding: 0 10px;
}
.social a {
  color: #333 !important;
  cursor: pointer;
}
.social .fa-linkedin {
  padding-left: 0;
}
.social .fa-linkedin:hover {
  color: #007bb6;
}
.social .fa-github:hover {
  background: #ecf0f1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.social .fa-twitter:hover {
  color: #00aced;
}
.social .fa-envelope:hover {
  color: #e74c3c;
}
.photos-by {
  font-size: 12px;
}
.photos-by span a {
  text-decoration: none;
}
/* INTRO SECTION */
.intro-bar {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  padding: 30px 0;
  background: #e74c3c;
}
.intro-bar .fa {
  font-size: 38px;
}
@media screen and (min-width: 0px) {
  .intro + .intro {
    margin-top: 20px;
  }
}
@media screen and (min-width: 878px) {
  .intro + .intro {
    margin-top: 0;
  }
}
.hello {
  width: 75%;
  margin: 0 auto;
}
/* SKILLS CAROUSEL */
.skills-carousel {
  background: #000;
  padding: 20px;
  color: #ecf0f1;
}
.skills-carousel .skill {
  font-size: 25px;
}
.skills-carousel .skill img {
  max-width: 50px;
  margin: 0 auto;
}
.skills-carousel .skill p {
  padding-top: 10px;
}
.skills-carousel .fa {
  font-size: 40px;
}
.owl-dot {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  height: 5px;
  width: 20px;
  display: inline-block;
  background: rgba(127,127,127,0.5);
  margin-left: 5px;
  margin-right: 5px;
}
.owl-dot.active {
  background: #e74c3c;
}
/* JOB SECTION */
.parallax-window-2 {
  min-height: 300px;
}
.job-container {
  color: #ecf0f1;
  font-family: 'Varela Round', sans-serif;
}
.job-subtitle {
  font-size: 22px;
  margin-bottom: 10px;
}
/* PORTFOLIO SECTION */
.work-tile {
  height: 300px;
  padding: 0 !important;
  outline: 0;
}
/* modal overlays */
.modal-dialog {
  width: 100% !important;
  margin: 0 !important;
  min-height: 100vh !important;
}
.modal-header {
  border: none !important;
}
.modal-content {
  min-height: 100vh !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  background: rgba(0,0,0,0.9) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.modal-content .title {
  width: 430px;
  display: block;
  font-size: 40px;
}
.modal-container {
  color: #ecf0f1;
  margin: 15px auto;
}
@media screen and (min-width: 0px) {
  .modal-container {
    width: 92%;
  }
}
@media screen and (min-width: 550px) {
  .modal-container {
    width: 80%;
  }
}
@media screen and (min-width: 878px) {
  .modal-container {
    width: 60%;
  }
}
.modal-button-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
}
.fa-times {
  color: #e74c3c;
  font-size: 70px !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fa-times:hover {
  color: #a1352a !important;
}
.close {
  text-shadow: none !important;
  opacity: 1 !important;
  outline: 0;
}
.project-text-main {
  font-size: 22px;
  padding: 0 18px;
}
.project-text-sub {
  font-size: 18px;
  padding: 0 18px;
}
.project-text-sub a {
  text-decoration: none;
  color: #e74c3c;
}
.project-text-sub a:hover {
  text-decoration: underline;
  color: #e74c3c;
}
.project-screenshots img {
  max-width: 100%;
  margin: 0 auto 20px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.project-screenshots img:hover {
  -webkit-box-shadow: 0 0 4px #e74c3c;
  -moz-box-shadow: 0 0 4px #e74c3c;
  -ms-box-shadow: 0 0 4px #e74c3c;
  -o-box-shadow: 0 0 4px #e74c3c;
  box-shadow: 0 0 4px #e74c3c;
}
.fa-github-alt {
  font-size: 45px !important;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fa-github-alt:hover {
  color: #ccc;
}
.visit-btn {
  margin: 0 auto 50px;
}
/* CONTACT SECTION */
.contact-container {
  background: #000;
  color: #ecf0f1;
  font-family: 'Varela Round', sans-serif;
  font-size: 19px;
}
.contact-left,
.contact-right {
  padding: 10px 50px 50px;
}
.contact-form {
  width: 100%;
/* FF 4-18 */
/* FF 19+ */
/* IE 10+ */
/* FF 4-18 */
/* FF 19+ */
/* IE 10+ */
}
.contact-form input,
.contact-form textarea {
  background: #191919;
  height: 50px;
  padding: 10px 15px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  font-size: 20px;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  border-bottom: 4px solid #e74c3c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
/* placeholder color */
/* Firefox 18- */
/* Firefox 19+ */
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #e74c3c;
}
.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
  color: #e74c3c;
}
.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  color: #e74c3c;
}
.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: #e74c3c;
}
.contact-form input:focus,
.contact-form textarea:focus {
  -webkit-transition: all 0.4s ease-in-out !important;
  -moz-transition: all 0.4s ease-in-out !important;
  -ms-transition: all 0.4s ease-in-out !important;
  -o-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
  border-color: #e74c3c !important;
  -webkit-box-shadow: 0 0 8px #e74c3c;
  -moz-box-shadow: 0 0 8px #e74c3c;
  -ms-box-shadow: 0 0 8px #e74c3c;
  -o-box-shadow: 0 0 8px #e74c3c;
  box-shadow: 0 0 8px #e74c3c;
}
.contact-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact-form input:focus:-moz-placeholder {
  color: transparent;
}
.contact-form input:focus::-moz-placeholder {
  color: transparent;
}
.contact-form input:focus:-ms-input-placeholder {
  color: transparent;
}
.contact-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact-form textarea:focus:-moz-placeholder {
  color: transparent;
}
.contact-form textarea:focus::-moz-placeholder {
  color: transparent;
}
.contact-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* FOOTER SECTION */
#footer {
  background: #18191b;
  color: #ecf0f1;
  padding: 50px 0 20px;
  font-family: 'Varela Round', sans-serif;
}
#footer .social a {
  color: #ecf0f1 !important;
}
#footer .center + .center {
  padding-top: 15px;
}
.avatar img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 5px solid #ecf0f1;
  width: 200px;
}
.download {
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -o-border-radius: 100px !important;
  border-radius: 100px !important;
  background: #ecf0f1 !important;
  padding: 8px 25px !important;
  font-size: 20px !important;
  color: #191919 !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.download:hover {
  background: #e74c3c !important;
  border: 1px solid #e74c3c !important;
  color: #ecf0f1 !important;
}
@media screen and (min-width: 0px) {
  .footer-mini {
    padding: 20px 10px 0;
    text-align: center;
  }
}
@media screen and (min-width: 550px) {
  .footer-mini {
    padding-top: 0;
    text-align: right;
  }
}
body {
  background: #000 !important;
  width: 100%;
  height: 100%;
}
.btn.hover-button {
  background: #191919;
  padding: 8px 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn.hover-button:hover {
  background: #e74c3c !important;
  border: 1px solid #e74c3c !important;
  color: #ecf0f1 !important;
}
.title {
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 25px;
  display: inline-block;
  margin: 10px auto 25px;
  padding: 10px 20px;
  font-family: 'Varela Round', sans-serif;
}
.underline {
  border-bottom: 1px solid #e74c3c;
}
.subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}
.hidden {
  display: none !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.accent-color {
  color: #e74c3c;
}
.body-font {
  font-family: 'Varela Round', sans-serif;
}
.displayNone {
  display: none;
}
.row {
  margin: 0 !important;
  clear: both;
}


/*animated labels on submit form*/
.label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    position: absolute;
    pointer-events: none;
    font-size: 18px !important;
    text-align: left !important;
    color: #e74c3c !important;
    padding-top: 7px !important;
}
.label::before,
.label::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.label::before {
    height: 100%;
    color: #e74c3c !important;
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.label::after {
    height: 2px;
    top: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.label-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
}

.input:focus,
.input--filled .input {
    opacity: 1;
    -webkit-transition: opacity 0s 0.3s;
    transition: opacity 0s 0.3s;
}

.input:focus + .label::before,
.input--filled .label::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input:focus + .label::after,
.input--filled .label::after {
    opacity: 0;
}

.input:focus + .label .label-content,
.input--filled .label .label-content {
    color: #cbc4c6;
    -webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, -1.1em, 0) scale3d(0.65, 0.65, 1);
}

