body
	padding: 0
	margin: 0
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif



h1
	color: lightgreen !important

p
	color: blue
	a
		color: beige !important


.navbar-collapse
	background: #000
	height: 50px
	border-bottom: 1px solid #fff

.navbar
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;




.foo
	border: 1px solid yellow

.bar {
	border: 1px solid green;
	&.foobar {
		font-size: 17px;
	}
}
