@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Varela+Round&display=swap');

:root {
  --background-navy: #24305E;
  --background-lightblue: #a8d0e6;
  --background-lightgreen: #a7f0ba;
  --background-gray: #f0f8ff;
  --background-gray-darker: #e5e5e5;
  --background-tan: #fff8dc; /* cornsilk */
  --background-black: #18191b;
  --accent-orange: #e74c3c;
  --font-color: #333333;
  --main-font: 'Varela Round', sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  font: 18px;
  width: 100%;
  height: 100%;
}
body * {
  box-sizing: border-box;
}
a {
  color: var(--accent-orange) !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.container__left {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

@media screen and (min-width: 0px) {
  .scroll-container {
    display: block;
  }
  .container__left, 
  .container__right {
    width: 100%;
    display: block;
  }
}
@media screen and (min-width: 959px) {
  .scroll-container {
    display: flex;
  }
  .container__left {
    width: 45%;
  }
  .container__right {
    width: 55%;
    height: max-content;
  }
}

.blob__bg {
  height: 100vh;
  background: var(--background-tan);
  display: flex;
  align-items: center;
  justify-content: center;
}
.blob-container {
  position: relative;
  width: 95%;
  height: 95%;
}
.blob-one, 
.blob-two, 
.blob-three {
  position: absolute;
  display: block;
} 
.blob-one {
  top: 14%;
  left: 9%;
  width: 84%;
  z-index: 100;
  opacity: 1;
  animation: float1 5s infinite;
}
.blob-two {
  top: 11%;
  left: 1%;
  width: 48%;
  z-index: 101;
  opacity: 0.6;
}
.blob-three {
  top: 36%;
  left: 45%;
  width: 53%;
  z-index: 102;
  opacity: 0.8;
}

/* MAIN TITLES */
.header-title,
.header-name {
  z-index: 105;
  position: absolute;
}

.title {
  color: #333;
  text-transform: uppercase;
  font-size: 30px;
  display: inline-block;
  margin: 10px auto 10px;
  padding: 10px 20px;
  font-family: var(--main-font);
  max-width: 100%;
}
.header-title .title,
.header-name .title {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 0.9;
  color: #333;
}

@media screen and (min-width: 0px) {
  .header-title .title,
  .header-name .title {
    font-size: 30px;
  }
  .header-name {
    top: 25px;
    left: 15px;
    width: 80%;
  }
  .header-title {
    top: 66%;
    left: 15px;
    width: 83%;
  }
}
@media screen and (min-width: 959px) {
  .header-name .title,
  .header-title .title {
    font-size: 50px;
  }
  .header-name {
    top: 50px;
    left: 60px;
    width: 66%;
  }
  .header-title {
    top: 75%;
    left: 60px;
    width: 66%;
  }
}



/* TITLE 'UP' ANIMATION */
.main-title {
  position: relative;
  display: block;
  margin: 0;
  font-size: 4rem;
  line-height: 1;
  transform: translateY(6rem);
  animation: up 500ms linear forwards;
  z-index: 1;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
}  
.main-title::before,
.main-title::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 1px;
  left: 0;
  background-color: var(--accent-orange);
  z-index: -1;
}
.main-title span {
  vertical-align: 2px;
}
.main-title::before {
  top: 12px;
  animation: draw 500ms linear 1s forwards;
}
.main-title::after {
  bottom: -5px;
  animation: draw 500ms linear 1s forwards;
}

.social {
  display: inline-block;
  margin-top: 15px;
}
.social i {
  font-size: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social ul {
  padding-left: 0;
}
.social li {
  display: inline-block;
  font-size: 22px;
  padding: 0 10px;
}
.social a {
  color: #333 !important;
  cursor: pointer;
}
.social .fa-linkedin {
  padding-left: 0;
}
.social .fa-linkedin:hover {
  color: #007bb6;
}
.social .fa-github:hover {
  background: #ecf0f1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.social .fa-twitter:hover {
  color: #00aced;
}
.social .fa-envelope:hover {
  color: var(--accent-orange);
}

/*------------ INTRO -------------*/
.intro-bar {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-size: 28px;
  background: var(--background-lightgreen);
}
.intro-bar .fa {
  font-size: 55px;
  padding-bottom: 15px;
}
.intro-bar .row {
  padding: 50px 0;
}
@media screen and (min-width: 0px) {
  .intro {
    padding-top: 20px;
  }
  .intro + .intro {
    margin-top: 20px;
  }
  .intro-lower {
    padding-top: 0 !important;
  }
}
@media screen and (min-width: 959px) {
  .intro-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .intro-bar {
    height: 475px;
  }
  .intro-upper {
    padding-top: 20px !important;
  }
  .intro + .intro {
    margin-top: 0;
  }
}
.hello {
  width: 75%;
  margin: 0 auto;
}

/*---------- SPACE ------------*/
.space-container {
  background: #18191b;
  color: #ecf0f1;
  font-family: 'Varela Round', sans-serif;
  padding: 50px 0;
}
.space-inner {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.about-text {
  font-size: 22px;
}
@media screen and (min-width: 0px) {
  .space-container {
    display: block;
  }
  .space-left {
    width: 100%;
  }
  .space-right {
    width: 100%;
  }
  .about-text {
    margin: 0;
    padding: 40px 30px 10px 30px;
    text-align: center;
  }
}
@media screen and (min-width: 959px) {
  .space-container {
    display: flex;
  }
  .space-left {
    width: 50%;
  }
  .space-right {
    width: 50%;
  }
  .about-text {
    position: relative;
    padding: 0 15%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
  }
}
.gene {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 26px;
}
@media screen and (min-width: 0px) {
  .gene {
    padding-top: 15px;
  }
}
@media screen and (min-width: 959px) {
  .gene {
    padding-top: 5px;
    text-align: right;
  }
}



/*------- SKILLS ---------*/
.skills-container {
  background: var(--background-gray);
  padding-top: 15px;
}
.donuts {
  width: 100%;
}
.donut-row {
  width: 100%;
}
.donut {
  width: 33.33%;
  position: relative;
}
.donut img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.donut p {
  font-family: var(--main-font);
  font-size: 24px;
}

@media screen and (min-width: 0px) {
  .donut {
    padding-bottom: 25px;
  }
  .donut-row {
    display: block;
    padding-bottom: 5px;
  }
  .donut img {
    top: 58px;
    max-width: 66px;
  }
}
@media screen and (min-width: 959px) {
  .donut {
    padding-bottom: 0;
  }
  .donut-row {
    display: flex;
    padding-bottom: 40px;
  }
  .donut img {
    top: 50px;
    max-width: 75px;
  }
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}


/*--------- JOB SECTION ----------*/
#job {
  background-color: var(--background-lightblue);
}
.job-container {
  color: var(--font-color);
  font-family: var(--main-font);
  padding: 15px 25px 50px;
}
.job-subtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
.job-content {
  font-size: 17px;
}
.job-tile {
  padding-bottom: 20px;
}
.job-tile .job-tile-inner {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.job-tile .job-tile-inner::before,
.job-tile .job-tile-inner::after {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.job-tile .job-tile-inner::before,
.job-tile .job-tile-inner::after {
  position: absolute;
  content: '';
  opacity: 0;
}
.job-tile .job-tile-inner::before {
  top: -10px;
  right: 10px;
  bottom: 15px;
  left: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.job-tile .job-tile-inner::after {
  top: -10px;
  right: 10px;
  bottom: 15px;
  left: 10px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.job-tile:hover .job-tile-inner::before,
.job-tile:hover .job-tile-inner::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.job-tile:hover .job-tile-inner::after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}



/*----------- PORTFOLIO SECTION ----------*/
.work-tile {
  height: 300px;
  padding: 0 !important;
  outline: 0;
}
/* modal overlays */
.modal-dialog {
  width: 100% !important;
  margin: 0 !important;
  min-height: 100vh !important;
}
.modal-header {
  border: none !important;
}
.modal-content {
  min-height: 100vh !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: rgba(0,0,0,0.9) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.modal-content .title {
  color: #fff;
  width: 430px;
  display: block;
  font-size: 40px;
}
.modal-container {
  color: #ecf0f1;
  margin: 15px auto;
}
@media screen and (min-width: 0px) {
  .modal-container {
    width: 92%;
  }
}
@media screen and (min-width: 550px) {
  .modal-container {
    width: 80%;
  }
}
@media screen and (min-width: 959) {
  .modal-container {
    width: 60%;
  }
}
.modal-button-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
}
.fa-times {
  color: #aaa;
  font-size: 40px !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 2px solid #aaa;
  border-radius: 50px;
  padding: 0 5px;
}
.fa-times:hover {
  color: #a1352a !important;
}
.close {
  text-shadow: none !important;
  opacity: 1 !important;
  outline: 0;
}
.project-text-main {
  font-size: 22px;
  padding: 0 18px;
}
.project-text-sub {
  font-size: 18px;
  padding: 0 18px;
}
.project-text-sub a {
  text-decoration: none;
  color: var(--accent-orange);
}
.project-text-sub a:hover {
  text-decoration: underline;
  color: var(--accent-orange);
}
.project-screenshots img {
  max-width: 100%;
  margin: 0 auto 20px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.project-screenshots img:hover {
  -webkit-box-shadow: 0 0 4px var(--accent-orange);
  -moz-box-shadow: 0 0 4px var(--accent-orange);
  box-shadow: 0 0 4px var(--accent-orange);
}
.fa-github-alt {
  font-size: 45px !important;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fa-github-alt:hover {
  color: #ccc;
}
.visit-btn {
  margin: 0 auto 50px;
}

/*----------- CONTACT SECTION -------------*/
.contact-container {
  clear: both;
  background: var(--background-gray);
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 19px;
}
.contact-left,
.contact-right {
  padding: 10px 50px 50px;
}
.contact-form {
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  background-color: var(--background-gray-darker);
  width: 100%;
  padding: 10px 15px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-size: 20px;
  color: var(--font-color) !important;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.contact-form input:focus,
.contact-form textarea:focus {
  -webkit-transition: all 0.4s ease-in-out !important;
  -moz-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
  border: 0;
  -webkit-box-shadow: 0 0 8px var(--background-gray);
  -moz-box-shadow: 0 0 8px var(--background-gray);
  box-shadow: 0 0 8px var(--background-gray);
}

/*------------- FOOTER SECTION --------------*/
#footer {
  background: var(--background-black);
  color: var(--background-gray);
  padding: 50px 0 20px;
  font-family: var(--main-font);
}
#footer .social a {
  color: #ecf0f1 !important;
}
#footer .center + .center {
  padding-top: 15px;
}
.avatar img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 5px solid var(--accent-orange);
  width: 200px;
}
.download {
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  background: var(--accent-orange) !important;
  border: 1px solid var(--accent-orange) !important;
  padding: 8px 25px !important;
  font-size: 20px !important;
  color: #ecf0f1 !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.download:hover {
  background: #ecf0f1 !important;
  border: 1px solid #ecf0f1 !important;
  color: var(--accent-orange) !important;
}
@media screen and (min-width: 0px) {
  .footer-mini {
    padding: 20px 10px 0;
    text-align: center;
  }
}
@media screen and (min-width: 959px) {
  .footer-mini {
    padding-top: 0;
    text-align: right;
  }
}
.btn.hover-button {
  background: var(--background-gray-darker);
  padding: 8px 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid var(--background-gray-darker);
  color: var(--font-color);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn.hover-button:hover {
  background: var(--font-color);
  border: 1px solid var(--font-color);
  color: var(--background-gray);
}

/*--------- class defaults ---------*/
.underline {
  border-bottom: 1px solid var(--accent-orange);
}
.subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}
.hidden {
  display: none !important;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.accent-color {
  color: var(--accent-orange);
}
.body-font {
  font-family: var(--main-font);
}
.displayNone {
  display: none;
}
.row {
  margin: 0 !important;
  clear: both;
}


/*animated labels on submit form*/
.label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    position: absolute;
    pointer-events: none;
    font-size: 18px !important;
    text-align: left !important;
    color: var(--font-color) !important;
    padding-top: 7px !important;
}
.label::before,
.label::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.label::before {
    height: 100%;
    color: var(--font-color) !important;
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.label::after {
    height: 2px;
    top: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.label-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
}

.input:focus,
.input--filled .input {
    opacity: 1;
    -webkit-transition: opacity 0s 0.3s;
    transition: opacity 0s 0.3s;
}

.input:focus + .label::before,
.input--filled .label::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input:focus + .label::after,
.input--filled .label::after {
    opacity: 0;
}

.input:focus + .label .label-content,
.input--filled .label .label-content {
    color: var(--font-color);
    -webkit-transform: translate3d(0, -1.3em, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, -1.3em, 0) scale3d(0.65, 0.65, 1);
}

.form-group {
  margin-bottom: 25px !important;
}


/*@-webkit-keyframes float1 {
  50% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
}
*/
@keyframes float1 {
  50% {
    -webkit-transform: translate3d(0.1em, -0.5em, 0);
    transform: translate3d(0.1em, -0.5em, 0);
  }
  75% {
    -webkit-transform: translate3d(-0.2em, 0.3em, 0);
    transform: translate3d(-0.2em, 0.3em, 0);
  }
}
@keyframes up {
  100% {
    transform: translateY(0);
  }
}
@keyframes draw { 
  100% {
    width: 100%;
  }
}
