// Stylus mixins
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)


body, html
	padding: 0
	margin: 0
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif

*
	box-sizing: border-box

h1
	color: #e74c3c

a
	color: #e74c3c !important
	transition all .4s ease-in-out

.navbar-custom

.navbar-collapse

.navbar
	min-height: 50px
	margin-bottom: 20px
	border: none
	transition all .4s ease-in-out

.navbar-custom
	margin-bottom: 0
	padding: 20px 0
	text-transition: uppercase
	font-family: 'Raleway', sans-serif
	background: transparent

.navbar-nav
	li a
		font-size: 19px

.top-nav-collapse
	padding: 0
	background: #000
	height: 50px
	border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important

.navbar-brand
	margin-top: -35px

.nav-logo
	float: left
	padding-top: 7px
	color: #fff !important
	font-size: 25px
	display: none
	&:hover
		text-decoration: none

.page-scroll
	&:hover
		background: transparent
	&.active
		background: transparent
		border-bottom: 3px solid #e74c3c
		margin-top: -3px

.parallax-window
	min-height: 100vh

.header-title
	width: 100%
	background: rgba(0,0,0,0.1)
	border-top: 1px solid rgba(0,0,0,0.25)
	border-bottom: 1px solid rgba(0,0,0,0.25)
	padding: 10px 100px;
	.title
		font-family: 'Raleway'
		font-weight: 700
		font-size: 60px
		text-transform: uppercase
		span
			color: #e74c3c
	.name
		font-family: 'Playfair Display', sans-serif
		font-style: italic
		font-weight: 500
		font-size: 35px

.social
	display: inline-block;
	i
		font-size: 25px
	ul
		padding-left: 0
	li
		display: inline-block
		font-size: 22px
		padding: 0 10px
	a
		color: #333 !important
		transition all .4s ease-in-out
	.fa-linkedin
		padding-left: 0
		&:hover
			color: #007bb6
	.fa-github:hover
		background: #ccc
		border-radius: 50px
	.fa-twitter:hover
		color: #00aced
	.fa-envelope:hover
		color: #e74c3c

.intro-bar
	font-family: 'Source Sans Pro', sans-serif
	padding: 30px 0
	background: #e74c3c
	text-align: center

.portfolio-container
	height: 300px
	background: lightblue
	text-align: center

.contact-container
	height: 300px
	background: lightyellow
	text-align: center


.foo
	border: 1px solid yellow

.bar {
	border: 1px solid green;
	&.foobar {
		font-size: 17px;
	}
}
